* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: radial-gradient(at 76% 28%,#FFA100 -37%,#72FFF6 101%);
    height: 100%;
}

.container {
    height: auto;
    position: absolute;
    overflow: hidden;
    width: 100%;
    bottom: 0;
}

/*--- Sun ---*/
#sun {
    position: fixed;
    right: 20%;
    top: 20%;
    height: 137px;
    width: 137px;
    background: #e86c48;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 5px;
    border: 10px solid #efa588;
}



